/* Style for event pages.  */

#sponsors {
    border-bottom: solid 4px #aaaaaa;
    background: #ffffff;
    width: 100%;
    bottom: 0px;
}
div.sponsored-by {
    padding: 10px; margin: 10px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    background: #aaaaaa; color: black;
}
#sponsors-inner { margin: 10px auto 10px auto; }
#sponsors .members { text-align: center; }
#sponsors p { padding: 0px 10px 0px 10px; }
#sponsors .members ul { display: inline-block; padding: 0px; margin: 0px; }
#sponsors .members li {
    display: inline-block; padding: 0px 10px; 0px 0px;
    vertical-align: middle;
}

#sponsors-inner img {
    max-height: 90px; max-width: 210px; margin: 10px;
    filter: saturate(10%);
}

#sponsors-inner img:hover {
    filter: saturate(100%);
}


/* Talks.  CSS taken from <https://10years.guix.gnu.org/program>.  */

h1 a {
    clear: both;
    line-height: 125%;
    margin-top: 1.3rem;
    margin-bottom: .3rem;
    padding: 0px;
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    border: none;
}

ul.talks {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

li.talk::before {
    content: '';
}

li.talk {
    width: 400px;
    display: block;
    margin: 1em 1em 0 0;
    flex-grow: 1;
    flex-shrink: 1;
    /* border: 1px solid #aaa; */
    /* border-radius: 5px; */
    /* padding: 15px; */
}
li.lightning { width: 200px }

.talk-speakers a {
    border-style: none;
    transition: text-shadow 0.3s;
}
.talk-speakers a:hover {
    text-shadow: 0px 0px 2px #ffbf2d;
}

.talk-title a {
    border-bottom: 1px dotted #aaa;
    display: inline-flex;
    width: 100%;
    color: #222;
    align-items: center;
    font-weight: bold;
}
li.lightning .talk-title a {
    font-weight: normal;
    border-bottom: 0px;
    display: inline;
}
.talk-speakers {
    border: none;
    color: #333;
    font-size: smaller;
}
.talk-time {
    font-size: 50%;
    background: lightblue;
    color: black;
    font-weight: bold;
    display: inline;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.talk-badge {
    font-size: 50%;
    background: salmon;
    color: black;
    font-weight: bold;
    display: inline;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.talk-title img.project-logo {
    max-height: 64px;
    max-width: 64px;
    margin-right: 0.5em;
    border-radius: 5px;
    margin: 10px;
}
.talk-synopsis {
    padding: 1em;
}

a.talk-slides {
    text-decoration: none;
    border-width: 0px;
}

details summary {
    cursor: pointer;
    color: #4D4D4D;
    font-size: smaller;
}

details summary > * {
    display: inline;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}
